
    .btn-group{
        position: absolute;
        top:25px;
        left:30px
    }


    .border{
        position:absolute;
        top:200px;
        left:218px;
        width:1005px;
        height:200px;
        border:1px solid black

    }

    .hw{
        position: absolute;
        top:130px;
        left:219px;
        
    }

   


    }

    #div2{
        position: absolute;
        top:220px;
        left:226px;
        width:1090px;
        

    }

    .div1{
        position: absolute;
        top:435px;
        left:220px;


    }

    #rect{
        position: absolute;
        top:300px;
        left:200px;
    }

  


